* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#personagem {
  width: 50px; height: 50px;
  background-color: rgb(98, 0, 255);
  position: absolute;
}

.jogo {
  width: 100vw;
  height: 100vh;
}

.inimigo {
  width: 50px; height: 50px;
  background-color: green;
  position: absolute;
}

.buttons {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: red;
  padding: 10px;
}

