* {
  margin: 0;
  padding: 0;
}

#personagem {
  width: 100px; height: 100px;
  background-color: red;
  position: absolute;
}

.buttons {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: red;
  padding: 10px;
}